@model IEnumerable<WestCoastEducationApp.Models.CourseModel>
@{
    ViewData["Title"] = "Courses";
}

@*SEARCH*@

<form asp-controller="Courses" asp-action="Index" method="get">
  <div class="form-actions no-color">
    <p>
      Search by Course No: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
      <input type="submit" value="SearchFilter" class="btn btn-primary" /> | <a asp-action="Index">Return to Course Catalogue</a>
    </p>
  </div>
</form>

<a asp-controller="Courses" asp-action="Create" class="btn btn-primary">Add new course</a>
<hr>
<table class="table table-bordered table-striped table-hover table-sm">
    <thead class="table-dark">
     <tr>
       <th></th>
       <th>Number</th>
       <th>Title</th>
       <th>Duration</th>
       <th>Level</th>
       <th>Price</th>
       <th>IsActive</th>
       <th></th>
       <th></th>
     </tr>
    </thead>
    <tbody>
      @foreach (var item in Model)
      {
          <tr>
            <td style="text-align: center;">
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fal fa-edit"></i></a>
            </td>
            <td>@item.Number</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>@item.Duration</td>
            <td>@item.Level</td>
            <td>@item.Price</td>
            <td>@item.IsActive</td>
            <td style="text-align: center;">
              <a asp-action="Details" asp-route-courseNo="@item.Number"><i class="fal fa-info-circle"></i></a>
            </td>
            <td style="text-align: center;">
              <a asp-action="Delete" asp-route-courseNo="@item.Number"><i class="fal fa-trash-alt" style="color:red;"></i></a>
            </td>
          </tr>
        }
    </tbody>
    </table>